<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/Icon-page.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar" class=" top-0 right-0 left-0 bg-[#105544] h-16 ">
        <div class="max-w-7xl h-16 mx-auto flex items-center px-4 justify-between">
            <p class="text-white font-bold text-xl">
                TechPortatil
            </p>
            <div class="flex justify-center items-center">
                <button id="nav-btn-store" class="w-16 h-12 bg-gray-200 font-bold cursor-pointer transition-all duration-[0.3s] ease-[ease-in] text-neutral-400 p-2 rounded-lg hover:text-[blueviolet]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                      </svg>
                      
                </button>

            <svg id="nav-btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 md:hidden text-white cursor-pointer p-2 hover:bg-[#116b54] rounded-lg">
                <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        
        <!-- escritorio -->
            <div class="hidden md:flex flex-row gap-4 ">
                <button id="close-btn" class="transition ease-in-out text-white hover:bg-red-600 py-2 px-4 rounded-lg font-bold">Cerrar Sesion 
                </button>
            </div>
          <!-- menu-movil -->
            <div class="bg-slate-900/60 fixed top-16 right-0 left-0 bottom-0 justify-center items-center flex-col gap-4 hidden">
                <button id="close-btn" class="transition ease-in-out text-white hover:bg-red-600 py-2 px-4 rounded-lg font-bold">Cerrar Sesion
                </button> 
            </div>
        </div>
            
            <section id="section-cart" class="absolute w-full h-[25rem] p-4 bg-indigo-300 flex-col justify-between overflow-auto transition-all duration-[0.3s] ease-[ease-in] right-0 top-16 md:w-1/2 rounded-lg hidden shadow-lg">
                <table class="table-fixed text-center border-collapse w-full">
                    <thead class="h-8 border-b-[rgb(107,106,106)] border-b border-solid">
                        <tr>
                            <th >Nombre</th>
                            <th >Precio</th>
                            <th >Cantidad</th>
                            <th >Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">      
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            
                            <th class="bg-slate-700 text-white rounded-t-md">Precio Total:</th>
                            <th class="bg-slate-700 text-white rounded-t-md">Cantidad Total:</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th id="total-price-cart" class="bg-slate-700 text-white rounded-b-md">0.00</th>
                            <th id="total-quantity-cart" class="bg-slate-700 text-white rounded-b-md">00</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="flex justify-between">
                    <button type="button" id="buy-button" class="boton-comprar cursor-pointer bg-blue-900 font-bold text-[white] transition-all duration-[0.3s] ease-[ease-in] mt-4 p-4 rounded-lg hover:bg-blue-950">Ir a Pagar</button>
                    <button type="button"  id="table-clear"  class=" cursor-pointer bg-red-900 font-bold text-[white] transition-all duration-[0.3s] ease-[ease-in] mt-4 p-4 rounded-lg hover:bg-red-950">Vaciar Carrito</button>
                </div>
            </section>
        </div>
    </nav>

    <!-- <div id="product-name" class="text-center py-6 bg-gray-200 pt-16 text-4xl">Name</div> -->

    <main id="container" class="flex flex-col md:flex-row gap-2">
      
        <div id="imagen-producto" class="md:w-2/4 h-full">
            <img src="/images/pc3.jpg" alt="imagen-producto">
        </div>

        <div class=" md:w-1/2 flex flex-col m-4">
          <div class=" flex items-center justify-center pb-4 border-b border-gray-300">
            <h1 id="product-name" class="font-semibold text-5xl uppercase text-center">Name</h1>
          </div>
          <div class=" flex items-center justify-between pb-4 border-b border-gray-300">
              <span id="product-price" class="font-semibold text-5xl">00</span>
          </div>
          <div class="py-4 border-b border-gray-300">
            <div  id="product-description-title" class=" flex justify-between items-center cursor-pointer">
              <h4  class="font-bold" >Descripción</h4>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
              
            </div>
            <div id="product-description-content" class=" mt-4">
              <p id="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam iure provident atque voluptatibus reiciendis quae rerum, maxime placeat enim cupiditate voluptatum, temporibus quis iusto. Enim eum qui delectus deleniti similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint autem magni earum est dolorem saepe perferendis repellat ipsam laudantium cum assumenda quidem quam, vero similique? Iusto officiis quod blanditiis iste?</p>
            </div>
          </div>
          <div id="aditional-title" class="py-4 border-b border-gray-300">
            <div class=" flex justify-between items-center cursor-pointer">
              <h4  class="font-bold">Información adicional</h4>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
            <div id="aditional-content" class="hidden">
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold">Procesador:</p>
                <p id="procesador">Intel</p>
              </div>
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold" >Graficos:</p>
                <p id="graficos">Integrados</p>
              </div>
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold" >Memoria:</p>
                <p id="memoria">4GB</p>
              </div>
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold" >Almacenamiento:</p>
                <p id="almacenamiento">256GB</p>
              </div>
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold" >Pantalla:</p>
                <p id="pantalla">14''</p>
              </div>
              <div class="mt-4 flex flex-row gap-2">
                <p class="font-semibold" >Sistema Operativo:</p>
                <p id="os">Windows 10 pro</p>
              </div>
            </div>

            </div>
            

          <div class="py-4 flex flex-row gap-4">
              <!-- <div class=" flex items-center mb-4">
              </div>
              <div class=" flex items-center mb-4">
              </div class="items-center flex"> -->
              <button id="add-btn" class="py-2 px-4 cursor-pointer font-semibold bg-indigo-500 rounded-lg hover:bg-indigo-700">
                  Añadir al carrito
              </button>
              <!-- <button id="clean-btn" class="py-2 px-4 cursor-pointer font-semibold bg-blue-600 hover:bg-blue-800 rounded-lg">Limpiar</button> -->
          </div>

        </div>
    </main>
   
    <footer
    class="bg-neutral-700 text-center text-surface/75 text-emerald-50 lg:text-left">
    <div
      class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-white/10 lg:justify-between">
      <div class="me-12 hidden lg:block">
        <span>Mantente al tanto en nuestras redes sociales:</span>
      </div>
      <!-- Social network icons container -->
      <div class="flex justify-center">
        <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 320 512">
            
            <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
          </svg>
        </a>
        <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4 ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 512 512">
            
            <path
              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
          </svg>
        </a>
        <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 488 512">
            
            <path
              d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
          </svg>
        </a>
        <a href="#!" class="me-6 [&>svg]:h-4 [&>svg]:w-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
          </svg>
        </a>
      
      </div>
    </div>
  
    <!-- Main container div: holds the entire content of the footer, including four sections (TW Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="mx-6 py-10 text-center md:text-left">
      <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
        <!-- TW Elements section -->
        <div class="">
          <h6
            class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
            <span class="me-3 [&>svg]:h-4 [&>svg]:w-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M128 32C92.7 32 64 60.7 64 96V352h64V96H512V352h64V96c0-35.3-28.7-64-64-64H128zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480H563.2c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2H19.2z"/>
              </svg>
            </span>
            TP Tech-Portatil
          </h6>
          <p>
              ¡Bienvenido a TechPortatil! Somos tu portal de confianza dedicado a ayudarte a encontrar los mejores precios y equipos en el mercado de la tecnología portátil.
          </p>
        </div>
       
      
       
          <!-- Horarios -->
          <div>
              <h5 class="text-uppercase mb-4">Horarios de atencion</h5>
              <table class="table text-center text-white">
                  <tbody class="font-weight-normal">
                      <tr>
                          <td>Lun - Jue:</td>
                          <td>8am - 8pm</td>
                      </tr>
                      <tr>
                          <td>Vie - Sab:</td>
                          <td>9am - 6pm</td>
                      </tr>
                      <tr>
                          <td>Domingos:</td>
                          <td>8am - 6pm</td>
                      </tr>
                  </tbody>
              </table>
          </div>
  
          <!-- info section -->
         <div class="">
          <h6
            class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
           
            Info!
          </h6>
          <p>
            Nuestros Horarios de atencion corresponden a 
            la hora en la que se contestan email.
          </p>
        </div>
        <!-- Contact section -->
        <div>
          <h6
            class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            Contactanos
          </h6>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path
                  d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                <path
                  d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
              </svg>
            </span>
            Blvr. de Sabana Grande, <br> Caracas 1050, Distrito Capital
          </p>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
              </svg>
            </span>
            TechPortatil@gmail.com
          </p>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd" />
              </svg>
            </span>
            +58 424 200 23 90
          </p>
          <p class="flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M7.875 1.5C6.839 1.5 6 2.34 6 3.375v2.99c-.426.053-.851.11-1.274.174-1.454.218-2.476 1.483-2.476 2.917v6.294a3 3 0 003 3h.27l-.155 1.705A1.875 1.875 0 007.232 22.5h9.536a1.875 1.875 0 001.867-2.045l-.155-1.705h.27a3 3 0 003-3V9.456c0-1.434-1.022-2.7-2.476-2.917A48.716 48.716 0 0018 6.366V3.375c0-1.036-.84-1.875-1.875-1.875h-8.25zM16.5 6.205v-2.83A.375.375 0 0016.125 3h-8.25a.375.375 0 00-.375.375v2.83a49.353 49.353 0 019 0zm-.217 8.265c.178.018.317.16.333.337l.526 5.784a.375.375 0 01-.374.409H7.232a.375.375 0 01-.374-.409l.526-5.784a.373.373 0 01.333-.337 41.741 41.741 0 018.566 0zm.967-3.97a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H18a.75.75 0 01-.75-.75V10.5zM15 9.75a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V10.5a.75.75 0 00-.75-.75H15z"
                  clip-rule="evenodd" />
              </svg>
            </span>
            +58 424 200 23 90
          </p>
        </div>
      </div>
    </div>
  
    <!--Copyright section-->
    <div class="bg-black/5 p-6 text-center">
      <span>© 2024 TechPortatil. Todos los derechos reservados.:</span>
      <a class="font-semibold" href="https://tw-elements.com/"
        >TW Elements</a
      >
    </div>
  </footer>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="index.js"></script>    
</body>
</html>